html, body {
	width:  100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
	display: flex;
	/* This centers our sketch horizontally. */
	justify-content: center;
	/* This centers our sketch vertically. */
	align-items: center;
}

canvas {
	display: none;
	position: center;
}

button {
	margin: 0 auto;
	display: block;
	font-size: 24px;
	background-color: white;
	color: black;
	border: 2px solid rgb(255, 160, 0);
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
  }

 button:hover {
	background-color: rgb(255, 160, 0);
	color: white;
  }